html, body {
  height:           100%;
  margin:           0;
  padding:          0;
}

body {
  background:     #ffffff;
  color:          #3a3a3a;
  font-family:      'Source Sans Pro', sans-serif;
  font-weight:      300;
  text-align:       center;
}


a:link, a:visited {
  color:            #3a3a3a;
  cursor: pointer;
}

a:hover {
  color:          #000000;
  cursor: pointer;
}

label {
  cursor:           pointer;
}

#logo {
  margin: 40px 0 80px 0;
}

div.button {
  margin: auto auto 10px auto;
  position: relative;
  width: 700px;
  height: 150px;
}

div.note {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 14pt;
  background: rgba(255, 255, 255, 0.75);
  padding-top: 70px;
  font-weight: 700;
  display: none;
  cursor: pointer;
}

div.button:hover div.note {
  display: block;
}

#line {
  height: 10px;
  width: 100%;
  background: #00A0E3;
}